<div class="container" id="comment-<%= comment.id %>">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout">
      <div class="comment-tabs">
        <ul class="nav nav-tabs" role="tablist">
        </ul>
        <div class="tab-content" >
          <div class="tab-pane active" id="comments-logout">
            <ul class="media-list">
              <li class="media">
                <a class="pull-left" href="#">
                  <%= link_to image_tag(image_path("product-details/128.jpg"), class: "media-object img-circle"), comment.user %>
                </a>
                <div class="media-body">
                  <div class="well well-lg">
                    <h4 class="media-heading text-uppercase reviews"><%= link_to comment.user_name, comment.user %> </h4>
                    <ul class="media-date text-uppercase reviews list-inline">
                      <li class="dd"><%= comment.created_at.strftime("%d") %></li>
                      <li class="mm"><%= comment.created_at.strftime("%m") %></li>
                      <li class="aaaa"><%= comment.created_at.strftime("%Y") %></li>
                    </ul>
                    <p class="media-comment">
                      <%= comment.content %>
                    </p>
                    <% if logged_in? %>
                      <%= link_to t(".reply"), new_comment_path(product_id: comment.product, comment_id: comment.id), remote: true, class: "btn btn-info btn-circle text-uppercase", id: "reply" %>
                      <% if current_user? comment.user %>
                        <%= link_to t(".edit"), edit_product_comment_path(comment.product, comment, comment_id: comment.reply_to), remote: true, class: "btn btn-info btn-circle text-uppercase" %>
                        <%= link_to t(".delete"), comment, method: :delete, data: { confirm: t(".sure") }, remote: true, class: "btn btn-info btn-circle text-uppercase"  %>
                      <% end %>
                    <% end %>
                    <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyOne"> 2 comments</a>
                  </div>
                  <div id="reply-form-<%= comment.id %>"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
