<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= image_tag product.img_url.url if product.img_url? %>
        <h2>$<%= product.cost %></h2>
        <p><%= product.name %></p>
        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i><%= t ".addcart" %></a>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2>$<%= product.cost %></h2>
          <p><%= product.name %></p>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i><%= t ".addcart" %></a>
        </div>
        <%= image_tag(image_path("home/#{product.status.downcase}.png")) %>
      </div>
    </div>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li>
          <%= link_to product do %>
            <i class="fa fa-plus-square"></i> <%= t ".seemore" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
